<section class="reset">
    <form>
        <fieldset>
            <legend>New password</legend>
            <ul>
                <li><input autofocus type="password" placeholder="Password (at least 8 characters)" v-model="password" pattern=".{8,}"></li>
                <li><input type="password" placeholder="Confirm password" v-model="repassword" pattern=".{8,}"></li>
            </ul>
            <button class="key" @click.prevent="changePassword" :disabled="!validPassword">Change password</button>
            <strong v-if="!validPassword && password.length >= 8">Passwords do not match</strong>
            <strong v-if="password && password.length < 8">Password is too short</strong>
        </fieldset>
    </form>
</section>
