<section class="reset">
    <form>
        <fieldset>
            <legend>New password</legend>
            <ul>
                <li><input autofocus type="password" placeholder="Password (at least 8 characters)" v-model="password"></li>
                <li><input type="password" placeholder="Confirm password" v-model="repassword"></li>
            </ul>
            <button class="key" @click.prevent="changePassword" :disabled="!validPassword">Change password</button>
        </fieldset>
    </form>
</section>
