<section>
    <ul class="switch">
        <li :class="{ active: isAction('login') }"><a href="#" @click.prevent="setAction('login')">Sign in</a></li>
        <li :class="{ active: isAction('register') }"><a href="#" @click.prevent="setAction('register')">Register</a></li>
    </ul>

    <form v-if="isAction('login')">
        <fieldset>
            <legend>Sign in</legend>
            <ul>
                <li><input autofocus  type="email" placeholder="E-mail" v-model="email"></li>
                <li><input type="password" placeholder="Password" v-model="password"></li>
            </ul>
            <button class="key" @click.prevent="signIn">Sign in</button>
            <a href="#" @click.prevent="setAction('forgot')">I forgot my password</a>
        </fieldset>
    </form>

    <form v-if="isAction('register')">
        <fieldset>
            <legend>Register</legend>
            <ul>
                <li><input autofocus type="email" placeholder="E-mail" v-model="email"></li>
                <li><input type="password" placeholder="Password (at least 8 characters)" v-model="password"></li>
            </ul>
            <button class="key" @click.prevent="signUp" :disabled="!validPassword">Register</button>
        </fieldset>
    </form>

    <form v-if="isAction('forgot')">
        <fieldset>
            <legend>Reset your password</legend>
            <ul>
                <li><input autofocus type="email" placeholder="E-mail" v-model="email"></li>
            </ul>
            <a href="#" @click.prevent="setAction('login')">&#x27ea;</a>
            <button class="key" @click.prevent="resetPasswd">Reset</button>
        </fieldset>
    </form>
</section>
