$color-text: #5F5E5D;
$color-text-light: #B4B2AE;
$color-main: #E24A37;
$color-main-light: #E87162;

$status-success: #8BC34A;
$status-warning: #FFC107;
$status-error: #E24A37;
$status-info: #03A9F4;
